<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Herd</title>
		<!--bootsrtap-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!--jQuery-->
		<script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
		<!--bootsrtap js-->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<!--app js-->
		<script type="text/javascript" src="/app.js"></script>
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="/styles/base.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
		
	</head>
    <body id="home-body">
        <div class="page-wrap">

    	<div class="page-header">
    		<img src="/images/small_white_car.png" alt="car icon">
          	<h1 id="title"> Herd <small id="tagline"> Your carpools. Streamlined. </small></h1>
        </div>
    
        <!--<div class="row">-->
		    <div class="col-12-md" id="bootstrap-override">
                {{{ body }}}
            </div>
        <!--</div>-->
        </div>
        <div class="container-fluid">
            <div class="site-footer" id="footer">
                <div id="copyright">
                    <p>© 2016 Copyright</p>
                </div>
                <div id="devs">
                    <ul>
                        {{#each devs}}
                            <li>{{name}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        
<script>        
        var devs = [
    {
        name: "Matthew Gusmano",
        gh: "https://github.com/mgusmano84",
        li: "https://www.linkedin.com/in/matthew-gusmano-05b333b1"
    },
    {
        name: "Crystal Williams",
        gh: "https://github.com/CORT0619",
        li: "https://www.linkedin.com/in/crystal-williams-92b28b10"
    },
    {
        name: "Caleb McKinely",
        gh: "https://github.com/CMcKinley",
        li: "https://www.linkedin.com/in/caleb-mckinley-8126a4119"
    },
    {
        name: "Robert Prine",
        gh: "https://github.com/robertprine2",
        li: "https://www.linkedin.com/in/robertprine2"
    },
    {
        name: "Mary Hoag", 
        gh: "https://github.com/maryhoag",
        li: "https://www.linkedin.com/in/maryhoag"
    }];
    
</script>
    </body>
</html>