<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Herd</title>
    <link rel="SHORTCUT ICON" href="/images/favicon.ico">
    <link rel="icon" href="/images/favicon.ico" type="image/ico">
		<!--bootsrtap-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!--jQuery-->
		<script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
		<!--bootsrtap js-->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<!--app js-->
		<script type="text/javascript" src="/app.js"></script>
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="/styles/base.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
    
	<body id=user-body>

        <div class="page-header">
            <div class="row">

                <span class="col-md-9"><img src="/images/pinkcar.png" alt="car icon"><h1> Herd <small> Your carpools. Streamlined. </small></h1></span>
                <span class="col-md-1 col-md-offset-2"><a href="/logout"><button type="button" id="logout"class="btn btn-primary">Log Out</button></a></span>
            </div>
        </div>

        <div class="row" style="margin-right: 0" id="user_board">
        	<div class="col-md-3">
        		<div class="list-group">
      				  <a href="/dashboard" class="list-group-item clickable" runat="server" id="User">{{user.firstName}}</a>
      				  <a href="#" class="list-group-item clickable" runat="server" id="find">Find/Join Groups</a>
      				  <a href="#" class="list-group-item clickable" runat="server" id="create">Create a new Group</a>
      				  <a href="/dashboard/yourgroups" class="list-group-item clickable" runat="server" id="yourGroups">Your Groups</a>
<<<<<<< HEAD
                <div id="logoimage" alt="Driver Logo">
                  <img src="{{user.userImg}}" || "/images/personlogo.jpg" style="width:100%">
=======
                <div id="logoimage" alt="Driver Logo" style="width:100%">
                  <img src="{{user.userImg}}" {{!-- || "/images/personlogo.jpg"  --}} id ='logomain' style="width:100%">
>>>>>>> master
                </div>
                
				    </div>
        	</div>

          <div class="col-md-9">
				      {{{ body }}}
			    </div>
        </div>
	   
        <div class="container-fluid">
            <div class="site-footer" id="user_footer">
                <div id="copyright">
                    <p>© 2016 Copyright</p>
                </div>
                <div id="devs">
                    <ul>
                        <li class="col-md-2 col-offset-md-3">
                            <a href="https://www.linkedin.com/in/matthew-gusmano-05b333b1">Matthew Gusmano</a>
                        </li>
                        
                        <li class="col-md-2">
                            <a href="https://www.linkedin.com/in/crystal-williams-92b28b10">Crystal Williams</a>
                        </li>
                        
                        <li class="col-md-2">
                            <a href="https://www.linkedin.com/in/caleb-mckinley-8126a4119">Caleb McKinely</a>
                        </li>
                        
                        <li class="col-md-2">
                            <a href="https://www.linkedin.com/in/robertprine2">Robert Prine</a>
                        </li>
                        
                        <li class="col-md-1">
                            <a href="https://www.linkedin.com/in/maryhoag">Mary Hoag</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


       <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="createGroup">
		<div class="modal-dialog modal-sm">
    		<div class="modal-content">
    			<div class="modal-header">
      				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      				<h1 class="modal-title">Create Group</h1>
      			</div>
      			<div class="modal-body">
        			<form  id="createForm">
  						<div class="form-group">
    						<label for="groupName">Group Name</label>
    						<input type="text" class="form-control" id="groupName" placeholder="name" required>
 						</div>
  						<div class="form-group">
    						<label for="userImg">Group Description</label>
    						<input type="text" class="form-control" id="description" placeholder="description" required>
  						</div>
  						<button  class="btn btn-default" id="createSubmit">Submit</button>
					</form>
      			</div>
			</div>
  		</div>
	</div>

	<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="searchModal">
		<div class="modal-dialog modal-sm">
    		<div class="modal-content">
    			<div class="modal-header">
      				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      				<h1 class="modal-title">Search</h1>
      			</div>
      			<div class="modal-body">
        			<form method="post" action="/search" id="searchForm">
  						<div class="form-group">
    						<label for="search">Search For Groups by Name</label>
    						<input type="text" class="form-control" id="search" placeholder="Group Name" name="search" required>
 						</div>
  						<button class="btn btn-default" id="searchSubmit">Submit</button>
					</form>
      			</div>
			</div>
  		</div>
	</div>
        
       