/*greeting on top of page */

/*display car info*/

/*user edit button*/
<button type="button" class="btn btn-primary btn-lg active">Primary button</button>
<button type="button" class="btn btn-default btn-lg active">Button</button>

 for rounded corners of all buttons :
 #rcorners1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px; 
}

/*show current trip*/
<table class="table table-bordered">
  ...
</table>

/*option join a trip or add a trip*/

