


<div id="results-panel" class="panel panel-default group_display">
  <div class="panel-heading">
    <h2 class="panel-title">Your Groups</h2>
  </div>
  <div class="panel-body">
<ul class="list-group">
{{#each results}}
  <a href="/search/{{groupID}}" data-name="{{groupName}}" class="list-group-item"><h1>{{groupName}}</h1><p>Desctription: {{groupDescription}}</p></a>


{{/each}}
</ul>
</div>
</div>