
    <h1>Hello, {{userName}}</h1>  <!-- add logout button here-->

    
    <!--dahsboard-->

    <!--search for groups-->
    <!-- source: https://codepen.io/allusis/pen/bdVjbj -->
    <a class="card">Search for Groups</a>
    


    <!-- you belong to-->

    <h1> Your Groups </h1>
    <!--requires the type to compile properly-->
      <script id="grouplist-template" type="text/x-handlebars-template"> <table>
          <thead> 
              <th>Name</th> 
              <th>Job Title</th> 
              <th>Twitter</th> 
          </thead> 
          <tbody> 
              
              {{#members}} <!--check this var name-->
              <tr> 
                  <td>{{groupName}}</td> <!--check this var name-->
                  <td>{{jobTitle}}</td> <!--do we want this?-->
              </tr> 
              {{/members}} 
          </tbody> 
      </table> 
      </script>

    <!--create groups-->


    


</script>
