@import "bourbon";


@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);



.mainbutts {
<<<<<<< HEAD
    display: inline;
    .btn {
        font-family: $header_font;
    }
   .btn-block {
    padding: 3px;
    margin: 15px;
    font-family: $header_font;

    }
}

#bootstrap-override {

    #jumbo {
        background-color: $jumbo;
            h1 {
                color: $happy;
            }
    }
    .btn {
        font-family: $header_font;
    }
    
    .modal-content {
      h1 label {
        background-color: $blue;
      }
    }
}


  background-color: $jumbo;
    h1 {
        color: $happy;
    }
}

#bootstrap-override {
    .modal-content {
        h1 label {
            background-color: $paleblue;
        }
  }
}


.btn-primary.raised {
  box-shadow: 0 3px 0 0 #007299;
}




