@import "bourbon";


@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

$header_font: 'Roboto Condensed', sans-serif;
$header_bg: #3cba90;

@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin main-button {
  background: #f7f7f7;
  padding: 7px 15px;
  color: #333333;
  font-size: 18px;
  text-decoration: none;
  font-family: $header_font;
  /* Include Bourbon SASS transition */
  @include transition(background .3s ease-in-out);
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
      -ms-border-radius: 10px;
          border-radius: 10px;
  &:hover {
    background: $header_bg;
    color: #ffffff;
  }
}


header {
  padding: 200px 0;
  text-align: center;
  background: url('/images/cars.jpeg') no-repeat center center;
  background-size: auto 100%;
  position: relative;
  @include transition(background-size .5s);
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.0;
    width: 100%;
    height: 100%;
    @include transition(opacity 1s ease);
  }
}

header.explore {
  background-size: auto 105%;
  &:before {
      @include linear-gradient(to bottom right, #b80404,#052280);
      opacity: .2; 
    }
}

.mainbutts {
   .btn-block {
    padding: 3px;
    margin: 15px;
    font-family: $header_font;
    }
}

.jumbo {
  background-color: $jumbo;
    h1 {
        color: $happy !important;
    }
}

.modal-content {
  h1 label {
    background-color: $blue;
  }
}

.btn-primary.raised {
  box-shadow: 0 3px 0 0 #007299;
}

.btn-primary.raised:active, .btn-primary.raised.active {
  background: #33a6cc;
  box-shadow: none;
  margin-bottom: -3px;
  margin-top: 3px;
}


