@import "bourbon";


@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);



.mainbutts {
    display: inline;
    .btn {
        font-family: $header_font;
    }
}

#bootstrap-override {
    #jumbo {
        background-color: $jumbo;
            h1 {
                color: $happy;
            }
    }
    .btn {
        font-family: $header_font;
    }
    
    .modal-content {
      h1 label {
        background-color: $blue;
      }
    }
}



.btn-primary.raised {
  box-shadow: 0 3px 0 0 #007299;
}




