@import '_colors.scss';

/*fonts*/

$blue: #3399ff;

h1 {
font-family: 'Alegreya SC', serif;
color: $light_text_color;
	/* nested Sass syntax */
	small {
		color: $text_color;
	}
}

.page-header {
  background-color: $header_color;
}

/*logo/car icon*/


/*background*/
body {
  
	background-color: $background_color;
}

/*footer style*/
#footer {
  width: 100%;
	background-color: $header_color;
	color: $light_text_color;
}

#copyright {
  background-color: green;
}
