#bootstrap-override {
    .results {
        background-color: #FFF;
        margin: auto;
        border-radius: 4px;
        padding: 10px 0px 10px 50px;
        width: 80%;

        h3 {
            font-weight: bold;
            padding-bottom: 10px;
            font-family: $header-font;
        }
    }
}