		#cent {
			text-align: center;
		}
		.head {
			background-color: #3FD61A;
		}
		.mainbutts {
			margin-left: 35%;
			margin-right: 35%;
			background-color: #5CC9F4;
		}
		.marg {
			margin-bottom: 15px;
			margin-top:15px;
			text-align:  center;
			font-size: 50px
		}
		.wrapper {
    		text-align: center;
		}