#home_buttons {
	width: 50%;
	margin: auto;
}

.groupHeaders {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 3px;
}

div > p {
	margin-bottom: 15px;	
}

/*.btn-6d {
	border: 2px solid #226fbe;
}

.btn-6d:hover {
	background: transparent;
	color: #226fbe;
}*/