/*		#cent {
			text-align: center;
		}
		.head {
			background-color: #3FD61A;
		}
		.mainbutts {

			background-color: #5CC9F4;
		}
		.marg {
			margin-bottom: 15px;
			margin-top:15px;
			text-align:  center;
			font-size: 40px
		}
		.wrapper {
    		text-align: center;
		}*/
		#home_buttons {
			width: 50%;
			margin: auto;
		}