$blue: #3399ff;
$light_blue: #a299ff;
$darkgrey: #333333;
$white: white;
$pale_blue: #e6ffff;
$darkblue: #0059b3;

$text_color: $darkgrey;
$header_color: $blue;
$secondary_color: $light_blue;
$light_text_color: $white;
$background_color: $pale_blue;


.page-header {
color: $header_color; 

}
