$blue: #6A98D7;
$light_blue: #a299ff;
$almost_black: #151316;
$white: #F5F0F1;
$pale_blue: #eeeeee;
$darkblue: #0059b3;
$palegray: #eeeeee;
$deeppink: #fe1b80;
$smoke: #eeeeee;

$text_color: $almost_black;
$header_color: $blue;
$secondary_color: $light_blue;
$light_text_color: $white;
$background_color: $pale_blue;
$jumbo: $palegray;
$happy: $deeppink;
$header_bkgd: $smoke;



