/* requiring bourbon has to come before other imports*/
@import "bourbon";
/*@import 'neat';*/

/*the file that contains the color variables. MUST begin with underscore*/
@import '_colors.scss';


/*imports the partial scss file to make an amalgam of a single css file for the client*/

@import 'partials/user.scss';
@import 'partials/home.scss';
@import 'neat';