/*insert image into header*/

/*header image in case we change our minds
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #212121;
}

/*header image in case we change our minds*/
/*.img-container {
  min-height: 400px;
  this is the relative path from the scss file. does it need the path relative to the handlebars page? 
  background-image: url('assets/images/cars.jpeg');
  background-repeat: no-repeat;
  background-size: 1800px 400px;
  background-position: center top;
  /*padding: 40px; (If don't want to set min-height or some image content is there) 
}*/

/*fonts*/

h1 {
font-family: 'Alegreya SC', serif;
color: #FF5252;
	/* nested Sass syntax */
	small {
		color: #;
	}
}

.page-header {
  background-color: #F44336;
}

/*logo/car icon*/


/*background*/
body {
  
	background-color: #FFFFFF;
}

/*footer style*/
footer {
	background-color: #FF5252;
	color: #727272;
}


