/* requiring bourbon has to come before other imports*/
@import url(https://fonts.googleapis.com/css?family=Alegreya+SC);
/*the file that contains the color variables. MUST begin with underscore*/
/*imports the partial scss file to make an amalgam of a single css file for the client*/
/*these files also begin with underscore*/
/*stying for material style button*/
/*totally using this if I can figure out how to add bourbon*/
@import url(http://fonts.googleapis.com/css?family=Roboto);
/*body {
  margin:5rem;
  font-family:"Roboto",sans-serif;
}*/
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
a {
  /* Because why not?*/
  cursor: pointer; }

.card {
  display: block;
  width: 95px;
  height: 95px;
  background: #f44336;
  padding: 1rem;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  transition: all 250ms;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px); }

._user_footer {
  background-color: #e6ffff; }

header {
  padding: 200px 0;
  text-align: center;
  background: url("/images/cars.jpeg") no-repeat center center;
  background-size: auto 100%;
  position: relative;
  -webkit-transition: background-size 0.5s;
  -moz-transition: background-size 0.5s;
  transition: background-size 0.5s; }
  header:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    transition: opacity 1s ease; }

header.explore {
  background-size: auto 105%; }
  header.explore:before {
    background-color: #b80404;
    background-image: -webkit-linear-gradient(top left, #b80404, #052280);
    background-image: linear-gradient(to bottom right,#b80404, #052280);
    opacity: .2; }

.mainbutts {
  font-family: "Roboto Condensed", sans-serif; }

.jumbo {
  background-color: #cccccc; }
  .jumbo h1 {
    color: #fe1b80 !important; }

.modal-content h1 label {
  background-color: #6A98D7; }

.btn-primary.raised {
  box-shadow: 0 3px 0 0 #007299; }

.btn-primary.raised:active, .btn-primary.raised.active {
  background: #33a6cc;
  box-shadow: none;
  margin-bottom: -3px;
  margin-top: 3px; }

/*background*/
body {
  background-color: #e6ffff; }

/*footer style*/
#footer {
  width: 100%;
  background-color: #e6ffff;
  color: #F5F0F1; }

#devs ul {
  style: inline; }

/*fonts*/
.page-header {
  padding-top: 20px;
  margin: 0;
  background-color: #6A98D7; }
  .page-header h1 {
    font-family: 'Alegreya SC', serif;
    color: #F5F0F1;
    display: inline-block;
    /* nested Sass syntax */ }
    .page-header h1 small {
      color: #151316; }
    .page-header h1 #title {
      display: inline-block !important;
      vertical-align: middle; }

/*logo/car icon*/
#logo {
  float: left;
  vertical-align: left; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0; }
  .clearfix:after {
    clear: both; }
